@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.all-container{
    font-family: "Rubik", sans-serif;
    margin-bottom: 10rem;
}

.btn-send{
    background-color: #004b81;
    border: solid 1px #004b81;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Rubik", sans-serif;
}

.btn-send:hover{
    background-color: #0064ab;
    border: solid 1px #0064ab;
    color: white;
    font-family: "Rubik", sans-serif;
}
  