.imgCarousel{
    height: 710px;
}


@media screen and (max-width: 767px) {
    .imgCarousel{
        height: 300px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .imgCarousel{
        height: 467px;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1399px) {
    .imgCarousel{
        height: 506px;
    }
  }