.imgCarousel {
  height: 710px;
}
.categorySelect h2 {
  font-family: "Lato", sans-serif;
}
.gridCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.cardCategory {
    max-height: 130px;
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  -webkit-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
}
.cardCategory img{
    width: 40%;
}
.titleCard {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .imgCarousel {
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgCarousel {
    height: 467px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1399px) {
  .imgCarousel {
    height: 506px;
  }
}
