.imgCarousel {
  height: 685px;
  filter: brightness(0.3);
}

.categorySelect h2 {
  font-family: "Lato", sans-serif;
}
.brandContainer{   
    display: flex;
    align-items: center;
}
.gridCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cardCategory {
  height: 130px;
  margin-top: 50px;
  display: flex;
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  -webkit-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
}
.cardCategory img {
  width: 40%;
}
.titleCard {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.cardCategory {
    height: 130px;
    background: #ada996;
    background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    -webkit-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  }
  
  .cardCategory:hover {
    background-color: #c4c4c4;
    box-shadow: 8px 8px 12px -2px rgba(0, 0, 0, 0.75);
    transform: scale(1.05); /* Escala la tarjeta al 105% de su tamaño original */
  }
  
  .cardCategory:active {
    transform: translateY(1px);
  }
  
  .titleCard {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }
  
  .cardCategory img {
    width: 40%;
  }
  .inputBuscador {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
  }
  
  .inputBuscador:focus {
    outline: none; /* elimina el contorno al enfocar el input */
    border-color: #007bff; /* color del borde al enfocar */
  }

@media screen and (max-width: 767px) {
  .imgCarousel {
    height: 300px;
  }
  .gridCategory {
    grid-template-columns: repeat(1, 1fr);
  }
  .brandContainer{
    flex-direction: column;
    text-align: center;
  }
  .cardCategory {
    height: 110px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgCarousel {
    height: 467px;
  }
  .gridCategory {
    grid-template-columns: repeat(2, 1fr);
  }
  .brandContainer{
    flex-direction: column;
    text-align: center;
  }

}
@media screen and (min-width: 992px) and (max-width: 1399px) {
  .imgCarousel {
    height: 506px;
  }
}
