/* colores
#f7e9b7
#41bcc5
#3b526c
#004b81
*/

.estiloFotoPerfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.cajaPortada {
  position: relative;
  width: 100%;
  border-radius: 3%;
  object-fit: cover;
}

.cajaPerfil {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 35%;
  right: 35%;
}

.fondoFotos {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 2%;
}

.fondoTextos {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 7%;
}

.categoria {
  background-color: #151544;
  font-style: italic;
  border-radius: 5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.btnContacto {
  background-color: #151544;
  border: 1px solid white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btnContacto:hover {
  background-color: white;
  color: #151544;
}

.contenedorPadre {
  position: relative;
}

.cardOpinion {
  background: white;

  border-radius: 25%;
  border-width: 20%;
}

.tituloComentario{
  font-size: 28px;
  font-style: italic;
  border-radius: 5%;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.titulo {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.texto {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tituloPrincipal {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.color {
  color: #151544;
}

.fondoAzul {
  background: #151544;
  color: white;
}

.textoForm {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-weight: bold;
}
.estrellasPromedio{
  margin: 8px 0 0 10px;
}
.barCount{
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 25px;
  padding: 0 20px;
}
.bar{
  width: 86%;
}
.count{
  width: 14%; 
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .pCard {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}
@media screen and (max-width: 767px) {
  .barCount{
    flex-direction: column-reverse;
    margin-top: 30px;
    gap: 0px;
  }
  .count{
    width: 86%; 
  }
  .estrellasPromedio{
    margin: 0px 0 5px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .estrellasPromedio{
    margin: 3px 0 0px 10px;
  }
}