@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainSection {
  flex-grow: 1;
}

footer {
  background-color: #151544;
}
footer a {
  color: white;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50px;
}
footer a:hover {
  background-color: white;
  color: #151544;
}
.iconsFooter {
  font-size: 1.5rem;
}

footer p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.copyright {
  font-size: small;
}
